@font-face {
    font-family: McLaren;
    src: url(McLaren-Regular.ttf);
}
img{
    float: right;
}

p{
    font-size: large;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    max-width: 100%;
}

.small {
    display: flex;
    gap: 10px;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

body {
    font-family: McLaren;
    margin: 0;
    padding: 0;
    position: absolute;
}

.forum {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.forum-container {
    display: flex;
    flex-direction: column;
}

.forum-post {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
}

.post-form {
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 380px;
    padding: 20px 30px;
    background: white;
    box-shadow: 2px 2px 5px 5px #4d4d4d;
    border-radius: 10px;
    height: 200px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

.small button {
    background-color: #fff;
    color: #000000;
    border: 1px #000000 solid;
    border-radius: 14px;
    padding: 10px;
    cursor: pointer;
    width: 25%;
    justify-content: center;
    font-family: McLaren;
}

.small button:hover{
    background-color: #D9D9D9;
    font-family: McLaren;
}

.navigation #question{
    background-color: #fff;
    color: #000000;
    border: #000000 1px solid;
    border-radius: 14px;
    padding: 10px;
    cursor: pointer;
    width: 500px;
    justify-content: center;
    font-family: McLaren;
}

.navigation #question:hover{
    background-color: #D9D9D9;
}

.first {
    display: flex;
    flex-direction: column;
}

#postButton{
    cursor: pointer;
    box-sizing: border-box;
    border: #000000 1px solid;
}
